<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script data-require="jquery@*" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script data-require="angular.js@1.4.3" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script data-require="lodash.js@*" data-semver="3.10.0" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="js/SignupController.js"></script>
</head>

<body>


<h3>HTML Form Input Validation Using HTML5</h3>
<div ng-controller="SignupController">

    <form>
        <table>
            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td>
                    <input type="text" id="txtName" name="name" ng-model="userName" required autofocus placeholder="Enter user name">
                </td>
            </tr>

            <tr>
                <td>
                    <label>SurName</label>
                </td>
                <td>
                    <input type="text"  ng-model="surname" required autofocus placeholder="Enter sur name">
                </td>
            </tr>

            <tr>
                <td><label>DOB</label></td>
                <td><input type="text" ng-model="dob" placeholder="MMDDYY"></td>
            </tr>

            <tr>
                <td>
                    <label>Age</label>
                </td>
                <td>
                    <input type="text" ng-model="age" placeholder="Enter Age">
                </td>
            </tr>


            <tr>
                <td>
                    <label for>Gender<span class="required">*</span></label>
                </td>
                <td>
                    <select id="age" ng-model="gender">
                        <option value="">Please Select..</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </td>
            </tr>


            <tr>
                <td>
                    <label for>Country<span class="required">*</span></label>
                </td>
                <td>
                    <select id="country" ng-model="country">
                        <option value="">Please Select..</option>
                        <option>India</option>
                        <option>USA</option>
                        <option>UK</option>
                        <option>Canada</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Address</label>
                </td>
                <td>
                    <input type="text" ng-model="address" placeholder="Enter Addr">
                </td>
            </tr>
            <tr>
                <td><label>Mobile</label></td>
                <td><input type="text" ng-model="mobile" placeholder="Enter Mobile"></td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="button" value="SEND" ng-click="getUserData()" >&nbsp;
                    <input type="button" value="CLEAR"  ng-click="resetUser()">
                </td>
            </tr>
        </table>
    </form>

    <table>
        <tr>
            <td>

                <label>Search:</label> <input ng-model="filt.$"/>
                <label>UserName</label><input ng-model="filt.UserName"/>
            </td>
        </tr>
    </table>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sr.No</th>
                <th>Name</th>
                <th>SurName</th>
                <th>DOB</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users| filter:filt">
                <td ng-bind="{{$index + 1}}"></td>
                <td ng-bind="user.UserName"></td>
                <td ng-bind="user.surName"></td>
                <td ng-bind="user.Dob"></td>
                <td ng-bind="user.age"></td>
                <td ng-bind="user.Gender"></td>
                <td ng-bind="user.Country"></td>
                <td ng-bind="user.address"></td>
                <td ng-bind="user.Mobile"></td>
                <td><button class="btn btn-primary"  ng-click="removeRow($index)">Delete</button></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>

</html>