<br>
<br>
<section>
<h3>Products List</h3>
    <a ng-show="loginUser.isAdmin" class="btn btn-primary" ng-href="#/createproduct">Create Product</a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
            <th ng-show="loginUser.isAdmin">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in userproducts">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.description}}</td>
            <td>
                <div ng-show="loginUser.isAdmin">
                    <button class="btn btn-primary" ng-click="editUser(product)">Edit</button>
                    <button class="btn btn-warning" ng-click="removeProduct($index)">Remove</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>